.container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

.container2 .text2 {
    background-color: lightpink;
    color: lightslategray;
    font-size: 20px;
    text-align: center;
}

