*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    background: #e3f4ff;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.title {
    padding: 8px;
}

.description {
    padding: 8px;
}

.links-container {
}

.links{
}