*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

.card {
    background: #c2deff;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    border-style: solid; color: black;
}

.title {
    font-size: 32px;
    font-weight: 400;
    background-color: #ffc9d0;
    margin: 8px;
    padding: 8px;
    border-style: solid; color: black;
}

.description {
    font-weight: 300;
    background-color: #ffffff;
    margin: 8px;
    padding: 8px;
    border-style: solid; color: black;
}

.links{
    background-color: #ffffff;
    margin: 8px;
    padding: 8px;
    border-style: solid; color: black;
}

/* Makes sure there is no line underneath visited links */

a, a:visited, a:hover, a:active {
    text-decoration:none;
    color: black;
}