* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    background-color: lightpink;
    text-align: center;
}

.topics {
    font-size: large;
    font-weight: 600;
}

.links {
    font-size: medium;
    font-weight: 300;
}