* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-container {
    background-color: #1db954;
    display: flex;
    justify-content: center;
}

.header {
    font-weight: bold;
    width: 900px;
    padding: 10px;
    display: flex;
}

.spotify {
    font-size: 2rem;
}

.signup,
.login {
    margin-top: 8px;
}

.signup {
    margin-left: auto;
}

.login {
    margin-left: 20px;
}

.listen-container {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listen-item-1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    display: flex;
}

.gallery-container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.gallery-header {
    display: flex;
    justify-content: center;
}

.gallery {
    width: 900px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    border: 2px solid white;
    width: 175px;
    height: 175px;
    margin: 10px;
}

.footer-container {
    background-color: #1db954;
    display: flex;
    justify-content: center;
}

.footer {
    width: 900px;
    height: 100px;
    display: flex;
}